/* Hatsune_Otonashi */
[data-cid^="4001048-"] .bdg.g {
	background: url('') no-repeat center;
}
 
/* donvoo */
[data-cid^="4537120-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Hata */
[data-cid^="3927729-"] .bdg.g {
	background: url('') no-repeat center;
}

/*Managers*/

/* Enyx */
[data-cid^="3684485-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Ivy */
[data-cid^="4762975-"] .bdg.g {
	background: url('') no-repeat center;
}

/* JennyMagic */
[data-cid^="5009139-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Kagehiko */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Meow */
[data-cid^="3901318-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Reisen Udongein Inaba */
[data-cid^="3893149-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Rin */
[data-cid^="5653326-"] .bdg.g {
	background: url('') no-repeat center;
}
  
/* That random guy */
[data-cid^="4105479-"] .bdg.g {
	background: url('') no-repeat center;
}
 
/* Umcookies2.0 */
[data-cid^="5055573-"] .bdg.g {
	background: url('') no-repeat center;
}

/*Bouncers*/
 
/* Meof */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* 4rr0ws */
[data-cid^="3440313-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Aedificator */
[data-cid^="3426455-"] .bdg.g {
	background: url('') no-repeat center;
}
 
/* Anastasia Nasuhara */
[data-cid^="6175571-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Arxxer */
[data-cid^="6213573-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Causing_Rane */
[data-cid^="5006130-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Dakotah|🌠 l */
[data-cid^="5858419-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Erio / Dyllusional */
[data-cid^="5762084-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Fujiwara no Mokou | Char */
[data-cid^="6181075-"] .bdg.g {
	background: url('') no-repeat center;
}

/* greySynapse */
[data-cid^="4107431-"] .bdg.g {
	background: url('') no-repeat center;
}
 
/* Kaboom0 */
[data-cid^="4742323-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Kirito-kun */
[data-cid^="3904366-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Mikhan */
[data-cid^="4396449-"] .bdg.g {
	background: url('') no-repeat center;
}
 
/* Momiji Inubashiri */
[data-cid^="5419138-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Nahlee */
[data-cid^="3822765-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Nat <3 */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Nuvm */
[data-cid^="5010460-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Remilia Scarlet */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Rhinovex */
[data-cid^="4131963-"] .bdg.g {
	background: url('') no-repeat center;
}

/* SamuraiFlamenco */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* SnakedMusique */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Zaro */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/*RDJs*/
 
/* Inori */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Vache */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* 23Pies */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Asiansweg */
[data-cid^="5520544-"] .bdg.g {
	background: url('') no-repeat center;
}

/* BlaZe Poi Senpai */
[data-cid^="5429757-"] .bdg.g {
	background: url('') no-repeat center;
}

/* BushNinja */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* CherryBoyLTU */
[data-cid^="4725288-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Darklight356 */
[data-cid^="6582089-"] .bdg.g {
	background: url('') no-repeat center;
}

/* DJ_Alex_dude */
[data-cid^="4058796-"] .bdg.g {
	background: url('') no-repeat center;
}

/* DJ_Despair */
[data-cid^="6206976-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Duckling's Grandson */
[data-cid^="5940704-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Fabbes Hund */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* FEK */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* FluffyCloudBunny */
[data-cid^="5005413-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Hiragi Shinoa / Allocated */
[data-cid^="4444591-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Hitagi */
[data-cid^="4444591-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Limarg */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Mini Gossip */
[data-cid^="4594269-"] .bdg.g {
	background: url('') no-repeat center;
}

/* NightcoreOP */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Sexy When Wet */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Siitryx */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Snorl4xx */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Tumling1999 */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Tyler */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Vocal */
[data-cid^="6108348-"] .bdg.g {
	background: url('') no-repeat center;
}

/* Wu Change */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* ᴿᵃʷʳ */
[data-cid^="5108550-"] .bdg.g {
	background: url('') no-repeat center;
}

/* ᶘ ᵒᴥᵒᶅ Lemon */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}

/* 보라 & 다솜 */
[data-cid^="PLSADD-"] .bdg.g {
	background: url('') no-repeat center;
}
